@media (max-width: 1240px) {
  .gallery-modal {
    &__content {
      width: 594px;
      min-height: 594px;
    }
    &__img-block {
      width: 264px;
      min-height: 594px;
    }
    &__descr-block {
      width: 330px;
      min-height: 594px;
    }
  }
}

@media (max-width: 992px) {
  .gallery-modal {
    &__content {
      width: 668px;
      min-height: 594px;
    }
    &__img-block {
      width: 301px;
      min-height: 594px;
    }
    &__descr-block {
      width: 367px;
      min-height: 594px;
      padding: 121px 36px 121px 50px;
    }
  }
}

@media (max-width: 700px) {
  .gallery-modal {
    &__content {
      width: 540px;
      height: 540px;
    }
    &__img-block {
      width: 240px;
      height: 540px;
    }
    &__descr-block {
      width: 300px;
      height: 540px;
      padding: 100px 20px 60px 20px;
    }
  }
}

@media (max-width: 576px) {
  .gallery-modal {
    &__content {
      flex-direction: column;
      width: 290px;
      min-height: 600px;
    }
    &__img-block {
      width: 290px;
      min-height: 200px;
    }
    &__descr-block {
      width: 290px;
      min-height: 400px;
      padding: 17px 21px;
      &-close {
        top: -180px;
        background-color: transparent;
      }
    }
  }
}
