.gallery {
  background: url('../../../image/backgrounds/gallery-bg-xl.jpg') center / cover no-repeat;
  &__container {
    display: flex;
  }
  &__select-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 450px;
    padding: 80px 0;
  }
  &__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #fff;
  }
  &__label-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 176px;
  }
  &__select-descr {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
  }
  &__select-input {
    width: 400px;
    height: 40px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: transparent;
  }
  &__check-block {
    display: flex;
    flex-direction: column;
  }
  &__label-check {
    display: flex;
  }
  &__checkbox-text {
    padding-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    background: url('../../../image/icons/gallery/unchecked.svg') left center / 12px no-repeat;
    transition: 0.4s background ease-in-out, 0.4s color ease-in-out;
    &:hover {
      background: url('../../../image/icons/gallery/hover-unchecked.svg') left center / 12px no-repeat;
    }
  }
  &__checkbox:focus + .gallery__checkbox-text {
    color: $state-semi-light;
    background: url('../../../image/icons/gallery/hover-unchecked.svg') left center / 12px no-repeat;
  }
  &__checkbox:checked + .gallery__checkbox-text {
    color: #fff;
    background: url('../../../image/icons/gallery/checked.svg') left center / 12px no-repeat;
  }
  &__slider-block {
    width: 1150px;
  }
}

.choices__inner {
  width: 400px;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
}

.choices__item .choices__item--choice .choices__item--selectable .is-selected .is-highlighted {
  color: #fff;
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: #fff;
  background-color: transparent;
}

.choices[data-type*=select-one]::after {
  border-style: solid;
  border-color: #fff;
  height: 8px;
  width: 8px;
  border-width: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
  transform: rotate(315deg);
  right: 22px;
  top: 46%
}